.div-scoreboard{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; /* 브라우저 화면 가운데에 위치함*/
    width: 400px;
    height: 300px;
    background-color: #009f48;
    text-align: center;
    padding: 2px;
    color: #fff;
}
.div-scoreboard_inner{
    margin: auto;
    border: 2px solid #fff;
    box-sizing: boder-box;
}
.div-shots_left{
    margin-top: 10px;
}
#shots_left{
    background-color: #000;
    padding: 4px 4px 2px;
}
.div-score{
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 40px 5px;
    margin: 10px;
    width: 20%;
}
.div-score_name{
    font-size: 20px;
}
.div-score_number{
    font-size: 40px;
    color: #ffff00;
    background-color: #000;
    width: 100%;
    line-height: 40px;
    padding-bottom: 5px;
    margin-top: 2px;
}
#text{
    height: 30px;
}
button{
    padding:10px 20px;
    font-size: 14px;
}
.div-panel{

    display: inline-block;
    text-align: center;
    padding: 10px;
}
.div-control_panel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 100px;
    background-color: #525252;
    text-align: center;
    padding: 2px;
    color: #fff;
}
.div-control_name{
    font-size: 20px;
    margin-bottom: 5px;
}